* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    background-color: #bfd5c9;
    font-size: 1.6rem;
}

.shell {
  max-width: calc(113.4rem + 1.5rem * 2);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
}

.section .section__inner {
    background-color: #fff;
    padding: 5rem 0;
    text-align: center;
}

#input-file-titles {
    margin: 3rem 0;
}

ul {
    list-style-type: none;
}

.movie {
    padding: 2rem 0;
    border-radius: .7rem;
    background-color: #bfd5c9;
    margin: 0 auto;
    max-width: 22rem;
}
.movie__image {
    margin: 0 auto 2rem;
    width: 15rem;
    height: 20rem;
}

.movie__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie__overview {
    padding: 0 2rem;
}